<div class="col-md-6">
	<table class="table">
		<tr>
			<th>First Name:</th>
			<td><%= current_user.first_name %></td>
		</tr>
		<tr>
			<th>Last Name:</th>
			<td><%= current_user.last_name %></td>
		</tr>
		<tr>
			<th>Email:</th>
			<td><%= current_user.email %></td>
		</tr>
		<tr>
			<th>Nickname:</th>
			<td><%= current_user.nick_name %></td>
		</tr>
		<tr>
			<th>Gender:</th>
			<td><%= current_user.gender %></td>
		</tr>
		<tr>
			<th>Birthday:</th>
			<td><%= current_user.birthday %></td>
		</tr>
	</table>
</div>

<div class="col-md-6 text-right">
	<%= image_tag current_user.avatar.thumb, size: "250x250" %>
</div>

<div style="margin-bottom: 160px;">&nbsp;</div>